.copied {
    background-color: green;
}

.navbar-custom {
  background-color: rgba(255, 255, 255, 0.5);
}

.bg-dark .navbar-custom {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.nav-search {
    margin-left: auto;
    margin-right: auto;
}

.nav-links {
    margin-left: auto;
}

.search-centered {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}
