rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /mycollection/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }
  }
}
